body {
  font-family: Arial, sans-serif;
  margin-top: 70px;
}

/* NAVBAR */
.navbar {
  background: #111;
  border: none;
}
.navbar a {
  color: white !important;
}

/* HERO */
.hero {
  background: linear-gradient(135deg, #000428, #004e92);
  color: white;
  padding: 80px 0;
}
.profile-img {
  width: 160px;
  border-radius: 50%;
  border: 4px solid white;
  margin-bottom: 15px;
}
.social a {
  color: white;
  font-size: 22px;
  margin: 10px;
}

/* SECTIONS */
.section {
  padding: 60px 0;
}
.section h2 {
  text-align: center;
  margin-bottom: 30px;
}
.bg {
  background: #f5f5f5;
}

/* SKILLS */
.skill {
  background: #004e92;
  color: white;
  margin: 10px;
  padding: 15px;
  border-radius: 6px;
}

/* PROJECTS */
.project {
  background: white;
  padding: 20px;
  margin-bottom: 15px;
  border-left: 4px solid #004e92;
}

/* FOOTER */
footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 15px;
}
/* RESUME BUTTON */
.resume-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background: #ffcc00;
  color: #000;
  font-weight: bold;
  border-radius: 30px;
  text-decoration: none;
  transition: 0.3s;
}
/* INDUSTRIAL TRAINING LETTER BUTTON */
.industrial-training-letter-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background: #ffcc00;
  color: #000;
  font-weight: bold;
  border-radius: 30px;
  text-decoration: none;
  transition: 0.3s ease;
}

.industrial-training-letter-btn:hover {
  background: #eaea06;
  color: #000000;
  text-decoration: none;
}
.research-papers-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background: #ffcc00;
  color: #000;
  font-weight: bold;
  border-radius: 30px;
  text-decoration: none;
  transition: 0.3s ease;
}
